html {
    background-color: #2b2f31;
    color: #D3D0CB;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    overflow-y: hidden;
}

ul {
    list-style-type: none;
    width: 20%;
}

li {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

input {
    font-family: unset;
    resize: none;
    width: 100%;
    font-size: x-large;
    overflow: hidden;
}

.btn {
    border: 2px solid #D3D0CB;
    border-radius: 2px;
    text-align: center;
    color: #393E41;
    background-color: #D3D0CB;
    user-select: none;
    cursor: pointer;
    width: 101%;
}

.btn:hover {
    background-color: #a7a4a0;
    border: 2px solid #a7a4a0;
}

#activeCheck {
    display: inline;
}

#ChadroomHeader {
    text-align: center;
    font-size: 78pt;
    border-bottom: solid 10px #F49F0A;
    display: flex;
    justify-content: center
}

#activateUserBtn {
    display: flex;
}

